<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demomultipledatasource.mapper.postgres.ItemCchMapper">

    <select id="postgresFindById" resultType="com.example.demomultipledatasource.model.ItemCch">
        <![CDATA[
        SELECT ITEM_ID
             , HEADER_CHANGE_SEQ
             , HEADER_OPERATION
        FROM   ITEM_CCH
        WHERE  HEADER_CHANGE_SEQ = #{headerChangeSeq}
        ]]>
    </select>

</mapper>
