<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demomultipledatasource.mapper.oracle.ItemMapper">

    <select id="oracleFindById" resultType="com.example.demomultipledatasource.model.Item">
        <![CDATA[
        SELECT ITEM_ID
             , ITEM_NM
        FROM   ITEM
        WHERE  ITEM_ID = #{itemId}
        ]]>
    </select>

</mapper>
